<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/88d0b1bd-09a8-4d18-b708-b55bf0ee3ab6/resourceGroups/app-grp/providers/Microsoft.Web/sites/webapp0300</ResourceId>
    <ResourceGroup>app-grp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapp0300.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>a716ec41-b157-45a0-a184-f7ae57792eeb</ProjectGuid>
    <PublishUrl>https://webapp0300.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapp0300</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>